<ion-header>
  <ion-toolbar>
    <ion-title>Print Barcodes</ion-title>
    <ion-button color="danger" slot="end" (click)="closeBTN()">
      <ion-icon  name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="printPage()">Print Page</ion-button>

  <div id="PrintInvoice">
  <table cellpadding="0" cellspacing="0" style="width: 100%">

    <tr *ngFor="let i of rowsBarcode">
      <td style="padding-top: 30px;">
        <ion-text style="font: 10px monospace; margin-left: 45px; " text-anchor="middle" x="189" y="122">Rs. {{apiCalls.selectedItem.price}}</ion-text>
        <ngx-barcode [bc-value]="barcodeValue" [bc-display-value]="true" [bc-width] ="1.35" [bc-font-size]="10" [bc-height] = "55" [bc-margin-top]="-0.5" ></ngx-barcode>
      </td>
      <td style="padding-top: 30px;">
        <ion-text style="font: 10px monospace; margin-left: 140px; " text-anchor="middle" x="189" y="122">Rs. {{apiCalls.selectedItem.price}}</ion-text>
        <ngx-barcode [bc-value]="barcodeValue" [bc-display-value]="true" [bc-width] ="1.35" [bc-font-size]="10" [bc-height] = "55" [bc-margin-left]="100" [bc-margin-top]="-0.5"></ngx-barcode>
      </td>
    </tr>
    
  </table>

</div>
</ion-content>